# Student Loan Risk with Deep Learning

In [1]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report
from pathlib import Path

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `student-loans.csv` file into a Pandas DataFrame. Review the DataFrame, looking for columns that could eventually define your features and target variables.

In [2]:
# Read the csv into a Pandas DataFrame
file_path = "https://static.bc-edx.com/ai/ail-v-1-0/m18/lms/datasets/student-loans.csv"
loans_df = pd.read_csv(file_path)

# Review the DataFrame
loans_df.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

In [3]:
# Review the data types associated with the columns
loans_df.dtypes

payment_history           float64
location_parameter        float64
stem_degree_score         float64
gpa_ranking               float64
alumni_success            float64
study_major_code          float64
time_to_completion        float64
finance_workshop_score    float64
cohort_ranking            float64
total_loan_score          float64
financial_aid_score       float64
credit_ranking              int64
dtype: object

In [4]:
# Check the credit_ranking value counts
loans_df["credit_ranking"].value_counts()

credit_ranking
1    855
0    744
Name: count, dtype: int64

### Step 2: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “credit_ranking”. The remaining columns should define the features dataset.

In [5]:
# Define the target set y using the credit_ranking column
y = loans_df["credit_ranking"]




# Display a sample of y
y[:5]

0    0
1    0
2    0
3    1
4    0
Name: credit_ranking, dtype: int64

In [6]:
# Define features set X by selecting all columns but credit_ranking
X = loans_df.copy()



# Review the features DataFrame
X.head()

,payment_history,location_parameter,stem_degree_score,gpa_ranking,alumni_success,study_major_code,time_to_completion,finance_workshop_score,cohort_ranking,total_loan_score,financial_aid_score,credit_ranking
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,0
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,0
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,1
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,0

### Step 3: Split the features and target sets into training and testing datasets.

In [7]:
# Split the preprocessed data into a training and testing dataset

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

# Assign the function a random_state equal to 1
scaler = StandardScaler()

### Step 4: Use scikit-learn's `StandardScaler` to scale the features data.

In [8]:
# Create a StandardScaler instance
scaler = StandardScaler()



# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)



# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [9]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])



# Review the number of features
number_input_features

12

In [10]:
# Define the number of hidden nodes for the first hidden layer
first_hidden_nodes = 8



# Define the number of hidden nodes for the second hidden layer
second_hidden_nodes = 5



# Define the number of neurons in the output layer
number_output_neurons = 3

In [11]:
# Create the Sequential model instance
# Create the Sequential model instance
model = Sequential()




# Add the first hidden layer
model.add(Dense(units=first_hidden_nodes, activation='relu', input_dim=number_input_features))





# Add the second hidden layer
model.add(Dense(units=second_hidden_nodes, activation='relu'))




# Add the output layer to the model specifying the number of output neurons and activation function
model.add(Dense(units=number_output_neurons, activation='softmax'))

In [12]:
# Display the Sequential model summary
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 104

 dense_1 (Dense)             (None, 5)                 45

 dense_2 (Dense)             (None, 3)                 18

=================================================================
Total params: 167 (668.00 Byte)
Trainable params: 167 (668.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [13]:
# Compile the Sequential model
model.compile(loss="sparse_categorical_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Fit the model using 50 epochs and the training data
model.fit(X_train_scaled, y_train, epochs=50, shuffle=True, verbose=2)

Epoch 1/50
38/38 - 0s - loss: 1.1089 - accuracy: 0.4429 - 151ms/epoch - 4ms/step
Epoch 2/50
38/38 - 0s - loss: 0.9896 - accuracy: 0.5421 - 15ms/epoch - 391us/step
Epoch 3/50
38/38 - 0s - loss: 0.8846 - accuracy: 0.6230 - 14ms/epoch - 355us/step
Epoch 4/50
38/38 - 0s - loss: 0.7801 - accuracy: 0.7006 - 12ms/epoch - 328us/step
Epoch 5/50
38/38 - 0s - loss: 0.6760 - accuracy: 0.7615 - 13ms/epoch - 337us/step
Epoch 6/50
38/38 - 0s - loss: 0.5793 - accuracy: 0.8048 - 14ms/epoch - 359us/step
Epoch 7/50
38/38 - 0s - loss: 0.4893 - accuracy: 0.8382 - 13ms/epoch - 342us/step
Epoch 8/50
38/38 - 0s - loss: 0.4039 - accuracy: 0.8791 - 13ms/epoch - 337us/step
Epoch 9/50
38/38 - 0s - loss: 0.3202 - accuracy: 0.9149 - 12ms/epoch - 328us/step
Epoch 10/50
38/38 - 0s - loss: 0.2428 - accuracy: 0.9475 - 13ms/epoch - 349us/step
Epoch 11/50
38/38 - 0s - loss: 0.1826 - accuracy: 0.9700 - 13ms/epoch - 339us/step
Epoch 12/50
38/38 - 0s - loss: 0.1378 - accuracy: 0.9850 - 13ms/epoch - 348us/step
Epoch 13/50
38/38 - 0s - loss: 0.1062 - accuracy: 0.9875 - 13ms/epoch - 350us/step
Epoch 14/50
38/38 - 0s - loss: 0.0829 - accuracy: 0.9900 - 13ms/epoch - 348us/step
Epoch 15/50
38/38 - 0s - loss: 0.0662 - accuracy: 0.9908 - 13ms/epoch - 342us/step
Epoch 16/50
38/38 - 0s - loss: 0.0536 - accuracy: 0.9925 - 13ms/epoch - 335us/step
Epoch 17/50
38/38 - 0s - loss: 0.0440 - accuracy: 0.9958 - 13ms/epoch - 344us/step
Epoch 18/50
38/38 - 0s - loss: 0.0363 - accuracy: 0.9975 - 12ms/epoch - 322us/step
Epoch 19/50
38/38 - 0s - loss: 0.0306 - accuracy: 0.9983 - 13ms/epoch - 342us/step
Epoch 20/50
38/38 - 0s - loss: 0.0257 - accuracy: 0.9983 - 13ms/epoch - 353us/step
Epoch 21/50
38/38 - 0s - loss: 0.0219 - accuracy: 0.9983 - 13ms/epoch - 343us/step
Epoch 22/50
38/38 - 0s - loss: 0.0188 - accuracy: 0.9992 - 17ms/epoch - 459us/step
Epoch 23/50
38/38 - 0s - loss: 0.0159 - accuracy: 0.9992 - 16ms/epoch - 430us/step
Epoch 24/50
38/38 - 0s - loss: 0.0136 - accuracy: 0.9992 - 14ms/epoch - 370us/step
Epoch 25/50
38/38 - 0s - loss: 0.0117 - accuracy: 0.9992 - 13ms/epoch - 346us/step
Epoch 26/50
38/38 - 0s - loss: 0.0101 - accuracy: 0.9992 - 15ms/epoch - 382us/step
Epoch 27/50
38/38 - 0s - loss: 0.0088 - accuracy: 0.9992 - 23ms/epoch - 600us/step
Epoch 28/50
38/38 - 0s - loss: 0.0078 - accuracy: 0.9992 - 12ms/epoch - 325us/step
Epoch 29/50
38/38 - 0s - loss: 0.0068 - accuracy: 1.0000 - 12ms/epoch - 323us/step
Epoch 30/50
38/38 - 0s - loss: 0.0061 - accuracy: 1.0000 - 13ms/epoch - 345us/step
Epoch 31/50
38/38 - 0s - loss: 0.0055 - accuracy: 1.0000 - 12ms/epoch - 329us/step
Epoch 32/50
38/38 - 0s - loss: 0.0050 - accuracy: 1.0000 - 12ms/epoch - 316us/step
Epoch 33/50
38/38 - 0s - loss: 0.0045 - accuracy: 1.0000 - 12ms/epoch - 318us/step
Epoch 34/50
38/38 - 0s - loss: 0.0041 - accuracy: 1.0000 - 12ms/epoch - 309us/step
Epoch 35/50
38/38 - 0s - loss: 0.0038 - accuracy: 1.0000 - 13ms/epoch - 339us/step
Epoch 36/50
38/38 - 0s - loss: 0.0035 - accuracy: 1.0000 - 12ms/epoch - 329us/step
Epoch 37/50
38/38 - 0s - loss: 0.0032 - accuracy: 1.0000 - 12ms/epoch - 318us/step
Epoch 38/50
38/38 - 0s - loss: 0.0030 - accuracy: 1.0000 - 12ms/epoch - 321us/step
Epoch 39/50
38/38 - 0s - loss: 0.0027 - accuracy: 1.0000 - 12ms/epoch - 312us/step
Epoch 40/50
38/38 - 0s - loss: 0.0026 - accuracy: 1.0000 - 13ms/epoch - 329us/step
Epoch 41/50
38/38 - 0s - loss: 0.0024 - accuracy: 1.0000 - 13ms/epoch - 344us/step
Epoch 42/50
38/38 - 0s - loss: 0.0022 - accuracy: 1.0000 - 12ms/epoch - 327us/step
Epoch 43/50
38/38 - 0s - loss: 0.0021 - accuracy: 1.0000 - 13ms/epoch - 343us/step
Epoch 44/50
38/38 - 0s - loss: 0.0020 - accuracy: 1.0000 - 12ms/epoch - 329us/step
Epoch 45/50
38/38 - 0s - loss: 0.0018 - accuracy: 1.0000 - 13ms/epoch - 347us/step
Epoch 46/50
38/38 - 0s - loss: 0.0017 - accuracy: 1.0000 - 13ms/epoch - 335us/step
Epoch 47/50
38/38 - 0s - loss: 0.0016 - accuracy: 1.0000 - 13ms/epoch - 342us/step
Epoch 48/50
38/38 - 0s - loss: 0.0015 - accuracy: 1.0000 - 15ms/epoch - 383us/step
Epoch 49/50
38/38 - 0s - loss: 0.0015 - accuracy: 1.0000 - 14ms/epoch - 369us/step
Epoch 50/50
38/38 - 0s - loss: 0.0014 - accuracy: 1.0000 - 14ms/epoch - 365us/step

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [15]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = model.evaluate(X_test_scaled, y_test, verbose=2)



# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

13/13 - 0s - loss: 0.0013 - accuracy: 1.0000 - 62ms/epoch - 5ms/step
Loss: 0.0012836436508223414, Accuracy: 1.0

### Step 4: Save and export your model to a keras file, and name the file `student_loans.keras`.

In [16]:
# Set the model's file path
file_path = Path("student_loan_model.h5")



# Export your model to a keras file
model.save(file_path)

/Users/ryanbusman/anaconda3/envs/dev/lib/python3.10/site-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(

---
## Predict Loan Repayment Success by Using your Neural Network Model

### Step 1: Reload your saved model.

In [17]:
# Set the model's file path
file_path = Path("student_loan_model.h5")



# Load the model to a new object
loaded_model = tf.keras.models.load_model(file_path)

### Step 2: Make predictions on the testing data and save the predictions to a DataFrame.

In [19]:
# Make predictions with the test data
model_predictions = loaded_model.predict(X_test_scaled)



# Display a sample of the predictions
model_predictions[:5]

13/13 [==============================] - 0s 876us/step

array([[9.9962735e-01, 2.6501849e-04, 1.0758526e-04],
       [2.3546992e-03, 9.9717700e-01, 4.6820097e-04],
       [1.4740533e-04, 9.9980098e-01, 5.1582287e-05],
       [2.6757221e-04, 9.9954885e-01, 1.8350672e-04],
       [7.5843732e-04, 9.9872428e-01, 5.1734946e-04]], dtype=float32)

In [26]:
# Save the predictions to a DataFrame and round the predictions to binary results
results = pd.DataFrame(model_predictions, columns=["Bad", "Good", "Great"])
results["Prediction"] = results[["Bad", "Good", "Great"]].idxmax(axis=1)
results["Actual"] = y_test
results.dropna(inplace=True)
results["Prediction"] = results["Prediction"].astype(str)
results["Actual"] = results["Actual"].astype(str)
results.head()


results.head()

         Bad      Good     Great Prediction Actual
3   0.000268  0.999549  0.000184       Good    1.0
8   0.999877  0.000065  0.000058        Bad    1.0
12  0.000300  0.999495  0.000205       Good    0.0
19  0.999639  0.000225  0.000136        Bad    1.0
22  0.999294  0.000412  0.000294        Bad    0.0

### Step 4: Display a classification report with the y test data and predictions

In [27]:
#from sklearn.metrics import classification_report
# Print the classification report with the y test data and predictions

# Print the classification report#
print(classification_report(results["Actual"], results["Prediction"]))

              precision    recall  f1-score   support

         0.0       0.00      0.00      0.00      48.0
         1.0       0.00      0.00      0.00      46.0
         Bad       0.00      0.00      0.00       0.0
        Good       0.00      0.00      0.00       0.0

    accuracy                           0.00      94.0
   macro avg       0.00      0.00      0.00      94.0
weighted avg       0.00      0.00      0.00      94.0

/Users/ryanbusman/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryanbusman/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryanbusman/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryanbusman/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryanbusman/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/Users/ryanbusman/anaconda3/envs/dev/lib/python3.10/site-packages/sklearn/metrics/_classification.py:1471: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

---
## Discuss creating a recommendation system for student loans

Briefly answer the following questions in the space provided:

1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.

2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.

3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.

**1. Describe the data that you would need to collect to build a recommendation system to recommend student loan options for students. Explain why this data would be relevant and appropriate.**
The values that you would need are payment history, finance workshop score, total loan score and the financial aid score.   These items scored high as predictors. 


**2. Based on the data you chose to use in this recommendation system, would your model be using collaborative filtering, content-based filtering, or context-based filtering? Justify why the data you selected would be suitable for your choice of filtering method.**
The collaberative filtering is ideal.  Collaberative filtering is using past interactions to predict future values.   Past payment history - how someone has paid thier bills in the past, finance workship score - if an individual is financially aware of their finances, total loan score and financial aid score are all past indicators of someones financial health.  


**3. Describe two real-world challenges that you would take into consideration while building a recommendation system for student loans. Explain why these challenges would be of concern for a student loan recommendation system.**
One real world challenge is the lack of data.   Students are primarily younger poeple that have not had a chance to obtain credit and have bills.  The lack of payment history would affect all the other features.  

The second challenge is personality score - if someone is likely to take finance seriously.  If there is not payment history - could we make a prediction based on someones personality or upbrining?